services:
  migrate:
    image: my-app:migrate
    container: migrate-container
    command: ["--connection", "${DB_CONN_STR}"] 
    depends_on:
      - db

  db:
    image: postgres
    container_name: postgres-container
    ports:
      - "5432:5432"
    environment: 
      - POSTGRES_USERNAME=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mydb